@use '../../styles/variables' as *;
@use '../../styles/mixins' as *;

.detailsSection {
  @include section-padding;
}

.detailsContainer {
  max-width: 800px;
  margin: 0 auto;
  text-align: center;
}

.importantDataList {
  @include flex-column;
}

